<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomeIndex</title>
    <link rel="stylesheet" href="/css/topNav.css" type="text/css">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="icon" href="/img/kea.png" type="image/png">
</head>
<body>
<h1 class="mainTitle">Home Page</h1>
<div class="topNav">
    <a class="active" href="/">Home</a>
    <a href="/student">Students</a>
    <a href="/courses">Courses</a>
</div>

</body>
</html>