<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="/css/topNav.css" type="text/css">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="icon" type="/image/png" href="img/kea.png">
</head>
<body>
<h1 class="mainTitle">Course Administration</h1>
<div class="topNav">
    <a href="/">Home</a>
    <a href="/student">Students</a>
    <a class="active" href="/courses/">Courses</a>
</div>
<div class="container">

    <p>Nothing here yet, stay tuned! Maybe forever!</p>
    <!-- make stuff inside a container div -->

</div>
</body>
</html>